body {
	font-family: "PT Sans";
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: black;
	width: 768px;
	height: auto;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

.container {
  width: 1200px;
	background-color: #DCDCDC;
}



.main-navigation {
width: 1200px;
height: 50px;
padding: 20px;
background-color: #D3D3D3;
}

.li {

}

.image-block {
	margin: auto;
}

.index-content-title {
  width: 1200px;
	height: 150px;
	background-color: #8B0000;
}

.promotion {
	width: 400px;
	height: 200px;
margin-left: auto;
}

.promotion-img {

	width: 800px;
	height: 300px;
}

.features {
height: 250px;
width: 1200px;
}

.features-accommodation {
	float: left;
	width: 400px;
	height: 250px;
	background-color: #D2691E;
}

.features-food {
	float: left;
	width: 400px;
	height: 250px;
	background-color: #D2B48C;
}

.features-souvenirs {
	float: left;
	width: 400px;
	height: 250px;
	background-color: #FFD700;
}

.promotion-img-del {
	float: left;
	width: 800px;
	height: auto;

}

.text-devil {
	float: right;
	width: 400px;
	height: 255px;
	background-color: #FF7F50;
}

.text-pl {
	float: left;
	width: 400px;
	height: 250px;
	background-color: #7FFF00;
}

.text-dr {
	float: right;
	width: 400px;
	height: 250px;
	background-color: #00FA9A;
}

.text-tr {
	float: right;
	width: 400px;
	height: 250px;
	background-color: #00CED1;
}

.text-desk {
height: 200px;
width: 1200px;
background-color: #9370DB;
}

.form {
height: 400px;
width: 500px;
background-color: #DDA0DD;
}


.footer {
  clear: both;
	background-color: #DCDCDC;
}
